<header>
    <div class="header-main-div">
        <div>
            <p><i class="fa-regular fa-watch-fitness"></i> Habit Tracker</p>
        </div>
        <div>
            <ul>
                    <li>Hello Tapan</li>
            </ul>
        </div>
    </div>

</header>